@import "./variables";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@import "../../node_modules/bootstrap/scss/bootstrap.scss";

@import "./mixins.scss";

span{
    font-size: 1.5em;
}

 .img-size{
    @include size(500px, 235px);
    background-image: url(../img/OIF.jpg)
 }
.img-size2{
    @include size(500px, 235px);
    background-image: url(../img/DBX2.jpg)
}
.img-size3{
    @include size(500px, 235px);
    background-image: url(../img/Elden-Ring-Header.jpg)
}